body
{
color: #40514e;
margin:0;
text-align: center;
font-family: 'Merriweather', serif;
line-height:2;
}

h1{

  color: #66bfbf;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}
h2
{color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

hr{

  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margine: 100px auto 100px auto;
}
.top-container{
  position: relative;
  background-color: #eaf6f6;
  padding-top: 100px;


}
.programmer{
  font-weight: normal;
}
.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
position: relative;
margin: 100px 0 100px 0;
line-height: 2;



}
.bottom-container{
  position: relative;
background-color:  #66bfbf;
padding: 50px 0 20px;

}
.pro{
  text-decoration: underline;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud{
  position: absolute;
  right: 40px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{

  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.chilli-img{
    float:right;
  width: 25%;
  margin-left: 30px;
}
.app{
  color: #EAF6F6;
  font-size: 0.75 rem;
  padding: 20px 0;
}


.btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#66bfbf;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}.btn:active {
	position:relative;
	top:1px;
}
